**/.config/
**/*.o
**/*.d
cpp-*/ex*/ex[0-9][0-9]
cpp-00/ex00/megaphone
cpp-00/ex01/phonebook
cpp-01/ex00/zombie
cpp-01/ex01/zombie
cpp-01/ex02/reference
cpp-01/ex03/violence
cpp-01/ex04/replace
cpp-01/ex05/harl
cpp-01/ex06/harlFilter
cpp-03/ex00/claptrap
cpp-03/ex01/scavtrap
cpp-03/ex02/fragtrap
cpp-09/ex00/btc
cpp-09/ex01/RPN
cpp-09/ex02/PmergeMe
*.replace
*_shrubbery
.vscode/
.DS_Store
